.waca-background{

  background: rgba(40,153,61,1);
  background: -moz-linear-gradient(45deg, rgba(40,153,61,1) 0%, rgba(40,218,156,1) 29%, rgba(45,28,90,1) 39%, rgba(133,34,109,1) 45%, rgba(156,35,114,1) 70%, rgba(42,24,160,1) 88%, rgba(42,24,160,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(40,153,61,1)), color-stop(29%, rgba(40,218,156,1)), color-stop(39%, rgba(45,28,90,1)), color-stop(45%, rgba(133,34,109,1)), color-stop(70%, rgba(156,35,114,1)), color-stop(88%, rgba(42,24,160,1)), color-stop(100%, rgba(42,24,160,1)));
  background: -webkit-linear-gradient(45deg, rgba(40,153,61,1) 0%, rgba(40,218,156,1) 29%, rgba(45,28,90,1) 39%, rgba(133,34,109,1) 45%, rgba(156,35,114,1) 70%, rgba(42,24,160,1) 88%, rgba(42,24,160,1) 100%);
  background: -o-linear-gradient(45deg, rgba(40,153,61,1) 0%, rgba(40,218,156,1) 29%, rgba(45,28,90,1) 39%, rgba(133,34,109,1) 45%, rgba(156,35,114,1) 70%, rgba(42,24,160,1) 88%, rgba(42,24,160,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(40,153,61,1) 0%, rgba(40,218,156,1) 29%, rgba(45,28,90,1) 39%, rgba(133,34,109,1) 45%, rgba(156,35,114,1) 70%, rgba(42,24,160,1) 88%, rgba(42,24,160,1) 100%);
  background: linear-gradient(45deg, rgba(40,153,61,1) 0%, rgba(40,218,156,1) 29%, rgba(45,28,90,1) 39%, rgba(133,34,109,1) 45%, rgba(156,35,114,1) 70%, rgba(42,24,160,1) 88%, rgba(42,24,160,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28993d', endColorstr='#2a18a0', GradientType=1 );
  
  
}

html {
  height: 100%;
}

/*there must be a better way than stupid specificity hacks*/
body .header-card, .grey-background {
  background-color: rgba(46, 46, 46, 0.7);
}

.header-card {
    margin-top:30px;
}

.member-list { }
.member-list li div { 
  border-bottom: none; 
}

.margin-10 {
    margin:10px;
}


body {
    height: 100%;
    background-attachment: fixed !important;
}